@import "tailwindcss";

@theme {
  --color-primary: #f0620f;
  --color-primary-dark: #d1520a;
  --color-secondary: #171f34;
  --color-secondary-light: #273357;
  --color-background: #f8f6f5;
  --color-white-soft: #f9f7f7;

  --font-lexend: var(--font-lexend), sans-serif;
}

body {
  background: var(--color-background);
  font-family: var(--font-lexend);
}
